<!-- src/app/shared/components/header/header.component.html -->

<header class="app-header">
  <div class="greeting">
    <img
      src="/assets/avatar.png"
      alt="Avatar"
      class="avatar"
    />
    <div>
      <div class="greet-text">{{ greeting }},</div>
      <div class="user-name">{{ userName }}!</div>
    </div>
  </div>

  <div class="header-buttons">
    <!-- immer links: Menu -->
    <app-button
      name="Menu"
      icon="settings"
      size="4rem"
      (click)="onToggleMenu()"
    ></app-button>

    <!-- in Phase 4: alle Entities -->
    @if (flightPhase) {
      @for (e of entities; track e.name; let i = $index){
        <app-button
          [name]="e.name"
          [svgIcon]="e.svgIcon"
          size="4rem"
          (click)="onEntityClick(i)"
        ></app-button>
      }
      <!-- ganz rechts: Zurück -->
      <app-button
        name="Zurück"
        icon="arrow_back"
        size="4rem"
        (click)="onBack()"
      ></app-button>
    }

    <!-- Logout-Button, auf jeder Seite sichtbar -->
    <app-button
      name="Logout"
      icon="logout"
      size="4rem"
      (click)="logout()"
    ></app-button>
  </div>
</header>
