@if (samsung) {
  <div class="tv-info-line" (click)="onDeviceClick()">
    <button class="btn-raub1" mat-icon-button (click)="togglePower(); $event.stopPropagation()">
      <mat-icon [ngClass]="{ 'green-icon': state !== 'off', 'gray-icon': state === 'off' }">power</mat-icon>
    </button>
    <span class="block"><strong>{{ name }}</strong></span>
    <span class="block">Status: {{ state }}</span>
    <span class="block">Lautstärke: {{ volume }}%</span>

    <div class="slider-wrapper" (click)="$event.stopPropagation()">
      <app-horizontal-slider
        [value]="volume"
        [min]="0"
        [max]="100"
        [step]="1"
        (valueChange)="setVolume($event)">
      </app-horizontal-slider>
    </div>

    <button class="btn-raub1" (click)="toggleMute(); $event.stopPropagation();">🔇 Mute</button>
    <button class="btn-raub1" (click)="screenLeft(); $event.stopPropagation();"><span><<<</span>🔁 </button>
    <button class="btn-raub1" (click)="nextSource(); $event.stopPropagation();">🔁 Source wechseln</button>
    <button class="btn-raub1" (click)="screenRight(); $event.stopPropagation();">🔁>>></button>

    <!-- Auswahlmenü für Samsung-Kommandos -->
    <select [(ngModel)]="selectedSamsungCommand" (change)="sendSamsungCommand(selectedSamsungCommand); $event.stopPropagation()">
      <option [ngValue]="undefined">Samsung-Kommando</option>
      <option *ngFor="let cmd of samsungCommands" [value]="cmd">{{ cmd }}</option>
    </select>

    <!-- Auswahlmenü für FireTV-Kommandos -->
    <select [(ngModel)]="selectedFireTvCommand" (change)="sendFireTvCommand(selectedFireTvCommand); $event.stopPropagation()">
      <option [ngValue]="undefined">FireTV-Kommando</option>
      <option *ngFor="let cmd of fireTvCommands" [value]="cmd">{{ cmd }}</option>
    </select>

    <span class="block">Mute: {{ isMuted }}</span>
  </div>
} @else {
  <div class="tv-info-line">TV nicht gefunden</div>
}
