@if (samsung){
  <!-- samsung-tv.html -->
  <div class="tv-wrapper" (click)="onDeviceClick()">


  <div class="device samsung-tv">
  <div class="status">
    <div>Status: {{ samsung.state }}</div>
    <div>Quelle: {{ samsung.attributes.source }}</div>
    @if (samsung.attributes.volume_level) {
     <div>Lautstärke: {{ (samsung.attributes.volume_level * 100) | number:'1.0-0' }}%</div>
    }
  </div>

  <div class="controls">
    @if (isTvOn) {
      <button (click)="togglePower($event);">An/Aus</button>
      @if (isTvIdle) {
        <div>Der Fernseher ist eingeschaltet, aber inaktiv.</div>
      } @else {
        <div>Status: {{ samsung.state }}</div>
      }
    } @else {
      <div>Fernseher ist aus</div>
      <button (click)="togglePower($event)">An/Aus</button>
    }



    <div class="volume-control">
      <label for="vol">Lautstärke</label>
      @if(samsung.attributes.volume_level){
        <input type="range" id="vol" min="0" max="100"
               [value]="samsung.attributes.volume_level * 100"
               (change)="setVolume($any($event.target).value, $event)">
      }
    </div>
    @if(samsung.attributes.source_list?.length){
       <div class="source-control">
          <label>Quelle wählen:</label>
          <select (change)="selectSource($any($event.target).value)">

            @for (s of samsung.attributes.source_list ; track s) {
              <option [selected]="s === samsung.attributes.source">
                {{ s }}
              </option>
            }

          </select>
        </div>
    }
  </div>
  </div>
</div>
}

