@use '../../../../../../../styles/tokens' as t;

.device.samsung-tv-minimal {
  padding: 1rem;
  color: t.$color-primary-light;
}

.container-wrapper {
  padding: .5rem;
  color: t.$color-primary-light
}
.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 14px;
}
