@use '../../../../../../../styles/tokens' as t;

// Styles der kompakten Samsung-TV-Anzeige

.device.samsung-tv-minimal {
  padding: 1rem;
  //  ganz leichter gradient
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.01) 100%);
  color: t.$color-primary;
}

.container-wrapper {
  padding: .5rem;
  color: t.$color-primary-light
}
.controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 1rem 0.2rem 1rem;
}

.status-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.1rem;
  font-size: 14px;
}

.tile {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: t.$color-green-border 0.2rem solid;
  background: rgba(0, 0, 0, 0.2);
}

.device-tile,
.source-tile {
  grid-column: span 2;
}

.state-icon.on {
  color: t.$color-samsungtv;
}

.state-tile .state-text {
  display: flex;
  flex-direction: column;
}

.volume-tile {
  flex-direction: column;
  align-items: stretch;
}

.volume-tile .bar {
  width: 100%;
  height: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.25rem;
  overflow: hidden;
  margin-bottom: 0.25rem;
}

.volume-tile .fill {
  height: 100%;
  background: t.$color-samsungtv;
}

.volume-value {
  text-align: center;
}
