<app-header [userName]="userName"></app-header>

<div class="dashboard-container">
  <!-- Menu Button takes one grid cell -->
  <div class="grid-item menu-button" (click)="onMenuButtonClick()" [ngClass]="{ active: menuOpen || activeIndex !== null }">
    <span class="menu-label">Menu</span>
  </div>

  <!-- When menu is open, it spans across the grid -->
  @if (menuOpen) {
    <div class="grid-item" style="grid-column: span 2; grid-row: 2 / span 1;">
      <app-menu [closeCallback]="closeMenu.bind(this)"></app-menu>
    </div>
  }

  <!-- When menu is closed, devices take their grid cells -->
  @if (!menuOpen) {
    @for (device of devices; track $index) {
      <div class="grid-item" [style.background]="getGradient(device.type)" (click)="device.type === 'samsung-tv' ? onClickSamsung($index) : onClick($index)">
        @switch (device.type) {
          @case ('pixel') {
            @if (activeIndex === $index) {
              <app-pixel></app-pixel>
            } @else {
              <app-pixel-minimal></app-pixel-minimal>
            }
          }
          @case ('orange-light') {
            @if (activeIndex === $index) {
              <app-orange-light></app-orange-light>
            } @else {
              <app-orange-light-minimal></app-orange-light-minimal>
            }
          }
          @case ('laptop') {
            @if (activeIndex === $index) {
              <app-laptop></app-laptop>
            } @else {
              <app-laptop-minimal></app-laptop-minimal>
            }
          }
          @case ('creator') {
            @if (activeIndex === $index) {
              <app-creator></app-creator>
            } @else {
              <app-creator-minimal></app-creator-minimal>
            }
          }
          @case('samsung-tv'){
            @if (activeIndex === $index) {
              <app-samsung-tv></app-samsung-tv>
            } @else {
              <app-samsung-tv-minimal></app-samsung-tv-minimal>
            }
          }
        }
      </div>
    }
  }
</div>
