<app-header [userName]="userName"></app-header>

<!-- Grid der Geräte in der Räuberbude -->
<div class="devices-grid">
  @for (device of devices; track $index) {
    <button class="device-button">
      @switch (device.type) {
        @case ('pixel') {
          <app-pixel-minimal></app-pixel-minimal>
        }
        @case ('orange-light') {
          <app-orange-light-minimal></app-orange-light-minimal>
        }
        @case ('laptop') {
          <app-laptop-minimal></app-laptop-minimal>
        }
        @case ('creator') {
          <app-creator-minimal></app-creator-minimal>
        }
        @case ('samsung-tv') {
          <app-samsung-tv-minimal></app-samsung-tv-minimal>
        }
      }
    </button>
  }
</div>
