<app-header
  [userName]="userName"
></app-header>

<div class="dashboard-container">
  <!-- Menü‐Button -->
  <div
    class="menu-button"
    [ngClass]="{ active: menuOpen || activeIndex !== null }"
    (click)="onMenuButtonClick()"
    [ngStyle]="getMenuStyle()"
  >
    <span class="menu-label">Menu</span>
  </div>

  <!-- Wenn Menü geöffnet: MenuComponent einblenden -->
  @if (menuOpen) {
    <app-menu
      [ngStyle]="getMenuComponentStyle()"
      [closeCallback]="closeMenu.bind(this)"
    ></app-menu>
  }
  <!-- Geräte via @for-Block (nur, wenn Menü geschlossen) -->
  @if (!menuOpen) {
    @for (device of devices; track $index) {
      @switch (device.type) {
        @case ('pixel') {
          @if (activeIndex === $index) {
            <app-pixel
              [ngStyle]="getStyle($index)"
              [style.background]="getGradient(device.type)"
              (click)="onClick($index)"
            ></app-pixel>
          } @else {
            <app-pixel-minimal
              [ngStyle]="getStyle($index)"
              [style.background]="getGradient(device.type)"
              (click)="onClick($index)"
            ></app-pixel-minimal>
          }
        }
        @case ('orange-light') {
          @if (activeIndex === $index) {
            <app-orange-light
              [ngStyle]="getStyle($index)"
              [style.background]="getGradient(device.type)"
              (click)="onClick($index)"
            ></app-orange-light>
          } @else {
            <app-orange-light-minimal
              [ngStyle]="getStyle($index)"
              [style.background]="getGradient(device.type)"
              (click)="onClick($index)"
            ></app-orange-light-minimal>
          }
        }
        @case ('laptop') {
          @if (activeIndex === $index) {
            <app-laptop
              [ngStyle]="getStyle($index)"
              [style.background]="getGradient(device.type)"
              (click)="onClick($index)"
            ></app-laptop>
          } @else {
            <app-laptop-minimal
              [ngStyle]="getStyle($index)"
              [style.background]="getGradient(device.type)"
              (click)="onClick($index)"
            ></app-laptop-minimal>
          }
        }
        @case ('creator') {
          @if (activeIndex === $index) {
            <app-creator
              [ngStyle]="getStyle($index)"
              [style.background]="getGradient(device.type)"
              (click)="onClick($index)"
            ></app-creator>
          } @else {
            <app-creator-minimal
              [ngStyle]="getStyle($index)"
              [style.background]="getGradient(device.type)"
              (click)="onClick($index)"
            ></app-creator-minimal>
          }
        }
        @case('samsung-tv'){
          @if (activeIndex === $index) {
            <app-samsung-tv
              [ngStyle]="getStyle($index)"
              [style.background]="getGradient(device.type)"
              (click)="onClickSamsung($index)"
            ></app-samsung-tv>
          } @else {
            <app-samsung-tv-minimal
              [ngStyle]="getStyle($index)"
              [style.background]="getGradient(device.type)"
              (click)="onClickSamsung($index)"
            ></app-samsung-tv-minimal>
          }
        }
      }

    }
  }
</div>
