// Basisfarben
$color-bg: #fdf3e6;
$color-text: #333;
$color-center: #f89e3d;

// Entitätenfarben
$color-light: #fdf0b3;
$color-firetv: #fca97a;
$color-samsungtv: #b3d9f9;
$color-laptop: #cfe4c3;
$color-pixel: #fdc7a2;
$color-pc: #bcddee;

// Schatten & Glow
$glow-on: 0 0 10px rgba(255, 193, 7, 0.6);
$glow-off: none;

// existing...
$font-primary: 'Roboto', sans-serif !default;
$font-secondary: 'Poppins', sans-serif !default;


$headings-font: $font-secondary;
$body-font: $font-primary;

