@use '../../../../../styles/tokens' as t;

.function-menu {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 1000;

  .function-button {
    --radius: 90px;
    --angle: 0deg;

    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(var(--angle)) translate(var(--radius));
    transform-origin: center;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: t.$color-center;
    color: white;
    box-shadow: t.$glow-on;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;

    mat-icon {
      font-size: 24px;
    }
  }
}
