<div class="app-button"
     [class.rb-hover-shader]="hoverAnim"
     [class.active]="active"
     [class.glow-enabled]="glowOn"
     [ngStyle]="{
      '--color': color,
      '--background-color': backgroundColor,
      '--color-active': activeColor,
      '--hover-color': hoverColor,
      '--active-glow-color': activeColor,
      '--btn-size': size,
      '--btn-font-size': fontSize
    }"
     [style.--rb-hover-color]="hoverAnimColorRgb"
     [style.--rb-hover-duration]="hoverAnimDuration"
     (click)="onClick($event)">
  <div class="button-inner">
    @if (svgIcon) {
      <img [src]="svgIcon" class="svg-icon" [alt]="name"/>
    } @else {
      <mat-icon>{{ icon }}</mat-icon>
    }

    <svg class="label-svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <path id="{{ textPathId }}" d="M50,50 m-28,0 a28,28 0 1,1 56,0 a28,28 0 1,1 -56,0" />
      </defs>
      <text text-anchor="middle" transform="rotate(-90 50 50)">
        <textPath [attr.xlink:href]="'#' + textPathId" startOffset="50%">
          {{ name }}
        </textPath>
      </text>
    </svg>
  </div>
</div>
