@use 'sass:map';
@use 'styles/palette' as *;
/* Google-Fonts: Roboto (Material) + Poppins (Headings)
   Hinweis: Die Fonts werden in der Testumgebung nicht geladen, um Buildfehler
   durch fehlende Internetverbindung zu vermeiden. */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Poppins:wght@300;400;600;700&display=swap'); */

// Beispiel-Nutzung
body {
  background: map.get($theme-colors, primary-light);

  color: $gray-800;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.one-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spacer {
  flex-grow: 1;
}
