@use 'sass:map';
@use 'styles/palette' as *;

// Beispiel-Nutzung
body {
  background: map.get($theme-colors, primary-light);

  color: $gray-800;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.one-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spacer {
  flex-grow: 1;
}
