.device.creator {
  position: relative; // für Zurück-Button
  width: 100%;
  height: 100%;
  /* Farbe kommt über den Inline-Gradient */
  border-radius: 8px;
}

.back-button {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}
